.head {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.heading {
    font-size: 30px;
    text-align: center;
}
img {
    width: 10cm;
}
div {
    margin-left: 5cm;
    margin-right: 5cm;
    font-size: 25pt;
}