.head {
    font-family: Rubik;
    max-width: 900px;
    margin: 2rem auto;
    text-align: center;
    background: linear-gradient(90deg, #065f46, #0891b2);
    font-size: 70px;
}
body{
    background: #0f172a;
    color: #e2e8f0;
    margin-left: 10cm;
    margin-right: 10cm;
}
table{
    @media (max-width: 640px) {
      table, th, td {
        display: block;
      }
    width: 700px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-left: 40px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}
th {
    background-color: aqua;
    text-transform: uppercase;
}
td {
    border-collapse: collapse;
    border: 1px solid white;
    color: white;
    padding-left: 15px;
    background: black;
}}
td:first-child {
      font-weight: 600;
      background: #f1f3f5;
      color: #333;
    }
th, td {
    padding: 14px 16px;
    text-align: left;
}
tr:hover {
    background: #252540;;
}