.heading {
    text-align: center;
    font-size: 60px;
    background: linear-gradient(90deg, #065f46, #0891b2);
}
body {
    background: #0f172a;
    color: #e2e8f0;
    font-style: oblique;
    margin-left: 5cm;
    margin-right: 5cm;
    display: block;
    align-items: center;
}
img {
    width: 20cm;
}
.video-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 videos per row */
  gap: 20px; /* space between videos */
}