.head {
    max-width: 300px;
    width: 10cm;
    margin: 2rem auto;
    font-family: Rubik;
}
.heading {
    font: 1.3em Rubik bold;
    text-align: center;
    background: linear-gradient(90deg, #065f46, #0891b2);
    height: 100px;
    border-radius: 30px;
}
body {
    background: #0f172a;
    color: #e2e8f0;
    font-size: 30px;
    margin-left: 5cm;
    margin-right: 5cm;
    font-style: oblique;
}