body {
    margin-left: 5cm;
    margin-right: 5cm;
    background: #0B1020;
    color: #EAF2FF;
    font-size: 30px;
    font-style: oblique;
}
.head {
    background: linear-gradient(90deg, #065f46, #0891b2);
    font-size: 70px;
    text-align: center;
    border-radius: 30px;
}
div {
    font-size: 40px;
    text-align: left;
}
img {
    width: 30cm;
}