.head {
    max-width: 400px;
    width: 40cm;
    margin: 2rem auto;
    font-family: Rubik;
}
.heading {
    text-align: center;
    font-size: 60px;
    background: linear-gradient(90deg, #065f46, #0891b2);
}
body {
    background: #0f172a;
    color: #e2e8f0;
    font-size: 40px;
    font-style: oblique;
    margin-left: 5cm;
    margin-right: 5cm;
}